<div class="" id="ar-demo">
  <p style="color: #16a085; font-size: 20px;margin-bottom: 10px">
    <span >Rewards</span> <br>
    In-time
  </p>

  <div class="" style="margin-bottom: 20px;margin-top: 20px">
    <h1 class="display-inline no-margin" style="line-height: 61px">Analytics</h1>

    <!-- date filters -->
    <div class="display-inline pull-right">
      <div class="panel display-inline">
        Compare: <input type="date" name="" value="">
        with: <input type="date" name="" value="">
      </div>

      <div class="panel display-inline">
        Show: <select class="" name="">
          <option value="">Last 7 days</option>
          <option value="">Last 30 days</option>
          <option value="">Last 3 months</option>
          <option value="">Last 6 months</option>
          <option value="">Last 12 months</option>
        </select>
      </div>
    </div>

    <div class="clear-both"></div>
  </div>

  <!-- offer filters -->
  <div class="offers-wrapper x-scrolling-wrapper width-100">
    <div class="offer-badge display-inline selected">All Live</div>
    <div class="offer-badge display-inline">All Expired Offers</div>
    <div class="offer-badge display-inline">Black Friday 2020</div>
    <div class="offer-badge display-inline">Christmas 2020</div>
    <div class="offer-badge display-inline">New for Winter</div>
    <div class="offer-badge display-inline">Winter Warmer</div>
    <div class="offer-badge display-inline">January Sale</div>
  </div>

  <!-- KPIs summary -->
  <div class="kpis-wrapper x-scrolling-wrapper width-100">
    <div class="kpi-panel display-inline selected">
      <p class="no-margin">Transaction Value</p>
      <p class="kpi-value">£10,000,000</p>
      <p class="display-inline no-margin">up 54%</p>
      <p class="display-inline no-margin pull-right">01 Oct - 11 Oct</p>
      <div class="clear-both"></div>
    </div>

    <div class="kpi-panel display-inline">
      <p class="no-margin">Transaction Volume</p>
      <p class="kpi-value">7896</p>
      <p class="display-inline no-margin">down 5%</p>
      <p class="display-inline no-margin pull-right">01 Oct - 11 Oct</p>
      <div class="clear-both"></div>
    </div>

    <div class="kpi-panel display-inline">
      <p class="no-margin">AOV</p>
      <p class="kpi-value">£5.00</p>
      <p class="display-inline no-margin">up 5.4%</p>
      <p class="display-inline no-margin pull-right">01 Oct - 11 Oct</p>
      <div class="clear-both"></div>
    </div>

    <div class="kpi-panel display-inline">
      <p class="no-margin">ROI</p>
      <p class="kpi-value">12.55%</p>
      <p class="display-inline no-margin">up 2.5%</p>
      <p class="display-inline no-margin pull-right">01 Oct - 11 Oct</p>
      <div class="clear-both"></div>
    </div>

    <div class="kpi-panel display-inline">
      <p class="no-margin">Unique Customers</p>
      <p class="kpi-value">5432</p>
      <p class="display-inline no-margin">up 40%</p>
      <p class="display-inline no-margin pull-right">01 Oct - 11 Oct</p>
      <div class="clear-both"></div>
    </div>

    <div class="kpi-panel display-inline">
      <p class="no-margin">Average Purchase Frequency</p>
      <p class="kpi-value">32</p>
      <p class="display-inline no-margin">down 0.05%</p>
      <p class="display-inline no-margin pull-right">01 Oct - 11 Oct</p>
      <div class="clear-both"></div>
    </div>
  </div>



  <!-- Graphs -->
  <div class="">
    <h3>Trend Over Time Line Chart</h3>
    <Chart::TrendOverTime></Chart::TrendOverTime>
  </div>

  <div class="">
    <h3>Trend by Sales Channel Doughnut Chart</h3>
    <Chart::TrendBySalesChannel></Chart::TrendBySalesChannel>
  </div>

  <div class="">
    <h3>Trend by Store Bar Chart</h3>
    <Chart::TrendByStore></Chart::TrendByStore>
  </div>

  <div class="">
    <h3>Trend by Store Bubble Chart</h3>
    <Chart::TrendByStore></Chart::TrendByStore>
  </div>

  <div class="">
    <h3>Trend by Demographic Age Doughnut Chart</h3>
    <Chart::TrendByDemographicAge></Chart::TrendByDemographicAge>
  </div>

  <div class="">
    <h3>Trend by Demographic Gender Doughnut Chart</h3>
    <Chart::TrendByDemographicGender></Chart::TrendByDemographicGender>
  </div>
</div>
